<div class="intranet">
  <div class="intranet__container">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar color="alert" class="intranet__toolbar">
    <button mat-icon-button aria-label="Counter Icon Button" routerLink="/intranet/counter" routerLinkActive="mat-elevation-z4">
  <mat-icon>format_list_numbered</mat-icon>
  </button>
    <button mat-icon-button aria-label="Book Icon Button" routerLink="/intranet/book" routerLinkActive="mat-elevation-z4">
  <mat-icon>menu_book</mat-icon>
  </button>
  </mat-toolbar>
</div>
